<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style_tasks.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">


  <title>Lista: <%= nomeLista %></title>
</head>

<body>
  <header>
    <% if(item === null) { %>
    <h1><%= nomeLista %></h1>
      <div class="formulario">
        
        <form action="/createTask/<%= nomeLista %>" method="post">


          
          <input type="text" name="nomeItem" id="tarefa" placeholder="Item">


          <button type="submit" name="adicionar" id="adicionar" class="">Inserir item</button>

        </form>
      </div>
        <% } else {%>

          <h1>EDITAR ITEM</h1>
          
    
          <form action="#" method="post">


          
            <input type="text" name="itemAtual" id="tarefa" value="<%= item.valor %>">
  
  
            <button type="submit" name="adicionar" id="adicionar" class="">Atualizar item</button>
  
          </form>
          
      <% } %>
  </header>
  <section id="tasks">
    <section id="tasks">
      <ul>
        <% itensLista.itens.forEach((item) =>{ %>

          <li>
            <div>
              <%= item.valor%>
              <span>Criado em: <%= item.createdAt.toLocaleDateString('pt-br') %></span>
            </div>
            <div>
              <a class="btnUpdate" href="/<%= nomeLista%>/<%= item._id%>/update"><i class="bi bi-pencil-square"></i></a>
              <a class="btnDelete" href="/delete/<%= nomeLista%>/<%= item._id%>"><i class="bi bi-trash-fill"></i></a>
          </div>
            <!-- Adiciona os campos hidden -->
            <!-- <input type="hidden" name="lista" value="<%= nomeLista %>"> -->
            <!-- <input type="hidden" name="itemId" value="<%= item._id %>"> -->
            
          </li>
          

        <% }); %>  
      </ul>
    </section>
  
  
</body>

</html>
