<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style_tasks.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">


  <title>Lista: <%= nomeLista %></title>
</head>

<body>
  <header>
    <% if(item === null) { %>
    <h1><%= nomeLista %></h1>
      <div class="formulario">
        
        <form action="/createTask/<%= nomeLista %>" method="post">


          
          <input type="text" name="nomeItem" id="tarefa" placeholder="Item" required>


          <button type="submit" name="adicionar" id="adicionar" class="">Inserir item</button>

        </form>
      </div>
        <% } else {%>

          <h1>EDITAR ITEM</h1>
          
    
          <form action="/update/<%= nomeLista %>/<%= item._id %>" method="post">


          
            <input type="text" name="itemAtual" id="tarefa" value="<%= item.valor %>" required>
  
  
            <button type="submit" name="adicionar" id="adicionar" class="">Atualizar item</button>
  
          </form>
          
      <% } %>
  </header>
  <section id="tasks">
    <section id="tasks">
      <ul>
        <% itensLista.itens.forEach((item) =>{ %>

          <li>
            <div>
              <%= item.valor%>
              <% if (item.createdAt == item.updatedAt) { %>
              <span>Modificado em: <%= item.updatedAt.toLocaleDateString('pt-br') %></span>
              <%} else {%>
              <span>Criado em: <%= item.createdAt.toLocaleDateString('pt-br') %></span>
              <%}%>
            </div>
            <div>
              <a class="btnUpdate" href="/<%= nomeLista%>/<%= item._id%>/update"><i class="bi bi-pencil-square"></i></a>
              <a class="btnDelete" href="/<%= nomeLista%>/<%= item._id%>/delete"><i class="bi bi-trash-fill"></i></a>
            </div>
          </li>
        <% }); %>  
      </ul>
    </section>
    <% if (itemDelete != null){%>
    <section id="modal">
      <div id="card">
        <div id="header">
          <h2>Confirmação</h2>
          <a href="/<%= nomeLista %>" id="fechar"><i class="bi bi-x-square"></i></a>

        </div>
        <p>Deseja realmente apagar a tarefa: <%=itemDelete.valor %>?</p>
        <div class="btns">
          <a href="/<%= nomeLista%>/<%= itemDelete._id%>" id="btnYes">Sim</a>
          <a href="/<%= nomeLista %>" id="btnNo">Não</a>
        </div>
      </div>

    </section>        
  <% } %>
</body>

</html>
